@{
    ViewData["Title"] = "Home Page";
}

<p>Xin chào @ViewBag.FullName</p>
<a asp-action="Logout" asp-controller="Accounts">Logout</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
